<div class="why-us">
    <div class="container">
        <section>
            <div class="inner">
                <div class="left">
                    <img src="assets/images/why-us.png" alt="" />
                </div>
                <div class="right">
                    <h3>why choose us</h3>
                    <p>
                        For explosive events (sprints up to 400 metres, long jump,
                        triple jump) the reduction in atmospheric pressure means there
                        is less resistance from the atmosphere.
                    </p>
                    <div class="qualities">
                        <div class="quality">
                            <i class="fi fi-rr-car"></i>
                            <p>Fast Delivery</p>
                        </div>
                        <div class="quality">
                            <i class="fi fi-rr-headphones"></i>
                            <p>Great Support</p>
                        </div>
                        <div class="quality">
                            <i class="fi fi-rr-wallet"></i>
                            <p>Cool Prices</p>
                        </div>
                        <div class="quality">
                            <i class="fi fi-rr-gift-card"></i>
                            <p>High Quality</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<style>
    .why-us {
        padding: 50px 0px;
    }
</style>