<div class="categories" data-enhance-nav>
    <div class="container">
        <section>
            <div class="head">
                <h2>Categories</h2>
            </div>
            <div class="product-categories owl-carousel">
                <div class="category" style="--color: #315bff">
                    <h4>Samsung Collection</h4>
                    <p>120 products</p>
                    <a href="#">See collection</a>
                    <div class="img">
                        <img src="assets/images/sam24ul.png" alt="" />
                    </div>
                    <div class="gradient" style="--color: #fe7831"></div>
                </div>
                <div class="category" style="--color: #fe7831">
                    <h4>IPhone Collection</h4>
                    <p>80 products</p>
                    <a href="#">See collection</a>
                    <div class="img">
                        <img src="assets/images/14promax.png" alt="" />
                    </div>
                    <div class="gradient" style="--color: #315bff"></div>
                </div>
                <div class="category" style="--color: #ff3c78">
                    <h4>Google Collection</h4>
                    <p>160 products</p>
                    <a href="product/category/">See collection</a>
                    <div class="img">
                        <img src="assets/images/p8pro.png" alt="" />
                    </div>
                    <div class="gradient" style="--color: #02be83"></div>
                </div>
            </div>
        </section>
    </div>
</div>

