   <!-- Footer -->
<footer>
    <div class="container">
        <div class="footer-item">
            <div class="logo">
                <a href="/">
                    <strong>BlinkyBill</strong>
                </a>
            </div>
            <p class="about">Our shop is the best choice for buying Gadgets</p>
            <div class="social-icons">
                <a href="#">
                    <i class="fi fi-brands-facebook"></i>
                </a>
                <a href="#">
                    <i class="fi fi-brands-twitter"></i>
                </a>
                <a href="#">
                    <i class="fi fi-brands-instagram"></i>
                </a>
                <a href="#">
                    <i class="fi fi-brands-linkedin"></i>
                </a>
            </div>
        </div>
        <div class="footer-item">
            <h2>Home</h2>
            <ul>
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">Delivery</a>
                </li>
                <li>
                    <a href="#">Contact us</a>
                </li>
                <li>
                    <a href="#">Terms of service</a>
                </li>
            </ul>
        </div>
        <div class="footer-item">
            <h2>Our Information</h2>
            <ul>
                <li>
                    <a href="#">Privacy policy</a>
                </li>
                <li>
                    <a href="#">Returns</a>
                </li>
                <li>
                    <a href="#">Sitemap</a>
                </li>
                <li>
                    <a href="#">Order history</a>
                </li>
            </ul>
        </div>
        <div class="footer-item">
            <h2>My Account</h2>
            <ul>
                <li>
                    <a href="#">My account</a>
                </li>
                <li>
                    <a href="#">Wishlist</a>
                </li>
                <li>
                    <a href="#">Newletter</a>
                </li>
                <li>
                    <a href="#">My orders</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container copyright">
        <p>
            © @DateTime.Today.Year All rights reserved. @* Designed by
            <a href="https://www.youtube.com/channel/UCiUtBDVaSmMGKxg1HYeK-BQ"
               target="_blank">OSC</a> *@
        </p>
    </div>
</footer>